{% load crispy_forms_tags %}
<head xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <meta name="Author" content="Karthik K.N">
    <title> Reverse Complement</title>
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

<div class="jumbotron text-center" style="background-color: #add8d8">
<h2 style="font-family: Merriweather" align="center"> Reverse Complement</h2>
        <p>Convert a DNA sequence into its reverse-complement </p>
    </div>

<p style="font-size: large"> Paste DNA sequence in FASTA format below or upload a fasta file</p>
<br></br>
{% csrf_token %}
{% crispy form %}
